body {
	font-size: 20px;
}
#header {
	height: 150px;
	width: 100%;
	border: 2px solid;
	text-align: center;
	background-color: #333333;
	color: white;
}

.buttons {
	background-color: green;
	color: white;
	font-size: 14px;
}

#actor-form {
	width: 50%;
	margin: 0 auto;
}

#actor-input {
	margin-top: 5px;
}

#actors {

	display: inline;
	text-align: center;
	overflow: auto;
}

.img-box {
	float: left;
	margin-right: 5px;
}


